<div class="matches-group" *ngFor="let matchByDay of matchesData | keyvalue">
  <div class="round-title">
    Vòng Đấu Bảng {{ transformDate(matchByDay.key) }}
  </div>
  <div class="matches-container">
    <div
      app-matches-item
      [match]="match"
      *ngFor="let match of matchByDay.value"
      class="matches-item"
    ></div>
  </div>
</div>
