.matches-group {
  font-size: 14px;
  width: 1000px;
  margin: auto;

  .round-title {
    color: #bdc1c6;
    padding: 20px 0;
  }

  .matches-container {
    background-color: #202124;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .matches-item {
      padding: 40px 20px;
      border: solid 1px #3c4043;
      cursor: pointer;
      position: relative;

      &:hover {
        background-color: #050505;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .matches-group {
    width: 100%;
    padding: 0 20px;
  
    .matches-container {
      grid-template-columns: repeat(1, 1fr);
  
      .matches-item {
        border: solid 1px #3c4043;
        cursor: pointer;
        position: relative;
  
        &:hover {
          background-color: #050505;
        }
      }
    }
  }
}
