.rank-container {
  font-size: 14px;
  width: 1000px;
  margin: auto;
  color: #bdc1c6;
  height: calc(100vh - 54px);
  padding-top: 40px;

  p {
    border: solid 1px #3c4043;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 16px;

    &:hover {
      background-color: #050505;
    }
  }
}

@media only screen and (max-width: 800px) {
  .rank-container {
    width: 100%;
    padding: 20px;
  }
}