<div class="rank-container">
  <div *ngFor="let user of users; let i = index">
    <p [ngClass]="{ 'rank-1': i === 0, 'rank-2': i == 1, 'rank-3': i == 2 }">
      {{ user.displayName }} - gold: {{ user.gold }}
    </p>
  </div>
</div>
