.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border: none;
    outline: none;
    padding: 20px 40px;
    background-color: white;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
  }
}