.group-title {
  color: #9aa0a6;
  margin-bottom: 10px;
}

.match-container {
  display: flex;
  height: 100px;

  .team-container {
    color: #bdc1c6;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .team-item {
      padding: 10px 0;
    }
  }

  .vote-container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      padding: 5px 20px;
      border: none;
      outline: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &.disable {
        opacity: 1;
      }

      &.voted {
        background-color: #082909;
        color: white;
      }
    }
  }

  .time-of-match {
    color: #bdc1c6;
    flex-basis: 150px;
    padding: 20px;
    border-left: 1px solid #3c4043;
  }
}
