<p class="group-title">Bảng {{ match.group }} - Trận {{match.id}}</p>
<div class="match-container">
  <div class="team-container">
    <p class="team-item">
      {{ match.teamA }}
    </p>
    <p class="team-item">
      {{ match.teamB }}
    </p>
  </div>
  <div class="vote-container">
    <button
      [ngClass]="{
        disable: isVoteTimeout || isDisableVoteButton,
        voted: chosenTeam === 0
      }"
      [disabled]="isVoteTimeout || isDisableVoteButton"
      (click)="vote(0, match.id)"
    >
      Thắng
    </button>
    <button
      [ngClass]="{
        disable: isVoteTimeout || isDisableVoteButton,
        voted: chosenTeam === 1
      }"
      [disabled]="isVoteTimeout || isDisableVoteButton || isDisableVoteButton"
      (click)="vote(1, match.id)"
    >
      Hoà
    </button>
    <button
      [ngClass]="{
        disable: isVoteTimeout || isDisableVoteButton,
        voted: chosenTeam === 2
      }"
      [disabled]="isVoteTimeout || isDisableVoteButton"
      (click)="vote(2, match.id)"
    >
      Thắng
    </button>
  </div>
  <div class="time-of-match">
    <p>{{ match.timeMatch }}</p>
  </div>
</div>
