.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #891638;

  .menu-item {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 12px;
  }
}